body {
    background-color: #f2f2f2;
    width: min-content;
    margin: 0 auto;
    font-family: "CustomFont";
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 3px #c0c0c0;
    padding: 30pt;
    font-family: "CustomFont";
    width: min-content;
    min-width: 500pt;

}

.area {
    width: 100%;
}

.setting {
    margin-bottom: 10pt;
    font-size: 14pt;
}

.input {
    font-family: 'CustomFont';
    font-size: 14pt;
    padding-left: 4pt;
    margin-left: 6pt;
    width: 50%;
}

h1 {
    margin-bottom: 20pt;
}

button {
    border: 1px solid #318fff;
    background-color: #0275ff;
    color: white;
    border-radius: 18px;
    height: 25pt;
    width: 50pt;
    margin-top: 16pt;
}

button:active {
    background-color: #005ecf;
    /* 稍微深一点的颜色 */
    border-color: #005ecf;
    /* 与背景颜色相同 */
}

.note {
    font-size: 10pt;
    margin-top: 2pt;
    color: #252525;
}

select {
    font-family: "CustomFont";
}

input {
    font-family: "CustomFont";
}

pre {
    background-color: #e6e6e6;
    padding: 16px;
    border-radius: 5px;
    margin-right: 10px;
    width: 96%;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    text-wrap: pretty;
}

code {
    background-color: #e6e6e6;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    overflow: auto;
    font-size: 85%;
    text-wrap: pretty;
}

blockquote {
    margin-left: 10pt;
}

ol li {
    color: #4b4b4b;
    font-size: 10pt;
}

h2 {
    font-size: 15pt;
    margin-top: 20pt;
    margin-bottom: 10pt;

}

.changelog ul li {
list-style-type: disclosure-closed;
color: #4b4b4b;
font-size: 11pt;
text-indent: 4pt;
line-height: 20pt;
}

.changelog ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 10pt;
    margin: 8pt 0 8pt 0;
}

.cl_new {
    background-color: #098019;
    font-size: 10pt;
    color: white;
    padding: 1pt 2pt 1pt 2pt;
    border-radius: 2pt;
    margin-right: 3pt;
}

.cl_improve {
    background-color: #ff9a00;
    font-size: 10pt;
    color: white;
    padding: 1pt 2pt 1pt 2pt;
    border-radius: 2pt;
    margin-right: 3pt;
}

.cl_fix {
    background-color: #e73838;
    font-size: 10pt;
    color: white;
    padding: 1pt 2pt 1pt 2pt;
    border-radius: 2pt;
    margin-right: 3pt;
}